* {
    background-color: rgb(255, 159, 127);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(92, 0, 128);
    line-height: 2;
}

h1 {
    color: rgb(15, 57, 15);
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 300%;
    background-color: burlywood;
}

h2 {
    color: darkmagenta;
    font-weight: lighter;
    text-transform: lowercase;
    font-weight: bold;
    background-color: blue;
}

nav ul {
    list-style: none;
    background-color: chartreuse;
    padding-left: 0;
}
nav ul li {
    background-color: aqua;
    margin-left: 0%;
    margin-right: 50%;
}

nav ul li a{
    color:#000000de;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;   
    background-color: red;
    padding-right: 0;
    padding-left: 0;

}
